body{
    background-color:rgb(45, 43, 43);
    color:white;
    font-family: sans-serif;
    margin:0;
    box-sizing: border-box;
    
}
.navbar{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    height:15vh;
    background-color:rgb(255, 140, 0);
    color:black;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    
}
.n-left{
    padding:10px;
    font-size:25px;
    color:white;
    transition:color 1s;
}
.n-left:hover{
    color:black;
    cursor:pointer;
}
/* .n-left-h2{
    color:white;
} */
.n-right{
    font-size:20px;
    padding:30px;
}

.a{
    padding:12px;
    text-decoration: none;
    color:black;
    transition:background-color 1s;
}
.a:hover{
    background-color: white;
    border-radius:8px;
    color:black;
    cursor: pointer;
}

.home{
    padding-left:28%;
    padding-top:100px;
    height:83vh;
    display: flex;
    gap:30px;
    flex-direction: row;
    align-items: center;
    
    
}
.h-1{
    font-size: 60px;
    margin-bottom: 0px;
    /* border:1px solid green; */
}
.h-2{
    font-size:45px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.h-3{
    font-size:55px;
    margin-top: 0px;
    margin-bottom:5px;
}
.highlight{
    color:rgb(255, 140, 0);
    transition: color 1s;
}
.highlight:hover{
    color:rgb(255, 119, 0);
}
.dp{
    width:400px;
    height:400px;
    border-radius:50%;
    
    object-position: center;
}
.certificate{
    height:60px;
    width:160px;
    border-radius:10px;
    font-size:23px;
    background-color:rgb(255, 140, 0) ;
    color:black;
    transition:background-color 1s;
    transition:box-shadow 1s;
    

}
.certificate:hover{
    cursor:pointer;
    background-color:rgb(255, 119, 0);
    box-shadow: rgb(164, 117, 61) 0px 20px 30px -10px;
}
.resume{
    height:60px;
    width:160px;
    border-radius:10px;
    font-size:23px;
    border:1px solid rgb(255, 140, 0);
    background-color: black;
    color:rgb(255, 140, 0);
    
    transition:color 1s;
    transition:box-shadow 1s;
    
    
}
.resume:hover{
    cursor:pointer;
    color:rgb(255, 119, 0);
    border:1px solid rgb(255, 119, 0);
    box-shadow: rgb(164, 117, 61) 0px 20px 30px -10px;
}
.about{
    align-items: center;
    display:flex;
    flex-direction: column;
    padding-top:120px;

    
}
.heading{
    font-size:40px;
    margin-bottom: 10px;
}
.para{
    /* border:1px solid blue; */
    margin-top: 10px;
    padding-left:300px;
    padding-right:300px;
    font-size: 25px;
    font-family: sans-serif;
    color:lightgrey;
}
.courses{
    padding-top:130px;
}
.course_heading{
    font-size:40px;
    margin-bottom: 35px;
   
}
.cards{
    padding-left:150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.card-1{
    height:550px;
    width:400px;
    border:1px solid rgb(255, 140, 0);
    border-radius:12px;
}
.course_description{
    padding:10px;
}
.course-image{
    width:100%;
    height:65%;
    border-top-left-radius: 12px;
    border-top-right-radius:12px;
    object-position: center;
    object-fit: cover;
}
.course_name{
    font-size:30px;
    font-family: sans-serif;
    margin-bottom: 0px;
    margin-top: 5px;
    
}
.description{
    font-size:20px;
    color:lightgray;
    font-family: sans-serif;
    margin-bottom: 0px;
    margin-top: 5px;
    
}
.contact{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:110px;

}
.details{
    font-size: 20px;
    color: lightgrey;
}
.social_media{
    display: flex;
    flex-direction: row;
    gap:25px;
}
.icon{
    height:60px;
    width:60px;
    border-radius: 5px;
}